<div id="home">
<font color="white"><center><h1>welcome back</h1>
<h2> you can never leave</h2></center>
</font>
<center>
<br>
<br>
<font  color="white">
<%=form_tag "/login" do%>
    username:<br><%=text_field_tag :user_name%>
    <p>
    password:<br><%=password_field_tag :password%>
    </font>
    <%=submit_tag "log in"%>
<%end%>
</center>
<br>
<%if flash[:message]%>
<center>
<font color="red"> <%=flash[:message]%> </font>
</center>
<%end%>    
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>