<nav class="navbar navbar-expand-lg navbar-light bg-light">
<li class="nav-item">
<img src=<%=@session_user.image%> style="width:30px;height:30px;">
</li>
  <a class="navbar-brand" href="/">friendspace</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%=@session_user.id%>" >profile</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/interests" >all message boards</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/users/<%=@user.id%>/edit" >customize profile</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="/users/<%=@user.id%>/interests" >manage interests</a>
</li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="search by interests" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <li class="nav-item">
  <%=link_to "logout", logout_path, method: :post%>
  </li>
</nav>
<h1><%=@user.name.downcase%>'s friends</h1>
<br>
<%@user.followees.each do |f|%>
    &#160;
    <img src=<%=f.image%> style="width:130px;height:150px;">
    <%=link_to f.name, user_path(f.id)%>
      <%end%>
  
      <%@user.followers.each do |f|%>
        &#160;
        <img src=<%=f.image%> style="width:150px;height:150px;">
        <%=link_to f.name, user_path(f.id)%>
        <%end%>
  