
<h1> Profile Page </h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>username:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>bio:</strong>
  <%= @user.bio %>
</p>

interests: 
<%@user.preferences.select do |p| %>
    <%=link_to "#{p.name}", interest_path(p.id)%>
<%end%>
