<nav class="navbar navbar-expand-lg navbar-light bg-light">
<li class="nav-item">
<img src=<%=User.all.find(@user).image%> style="width:30px;height:30px;">
</li>
  <a class="navbar-brand" href="/">friendspace</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%=@user%>" >profile</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/interests" >all message boards</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/users/<%=@user%>/edit" >customize profile</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="/users/<%=@user%>/interests" >manage interests</a>
</li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="search by interests" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <li class="nav-item">
  <%=link_to "logout", logout_path, method: :post%>
  </li>
</nav>

<center><h1> Interests Board </h1></center>
<div class="container">
 <div class="row">
   <% @preferences.each do |p| %>
     <div class="col-md-4">
       <img src=<%=p.image%> class="card-img-top"/>
       <div class="card">
         <div class="card-body">
           <h5 class="card-title"><%= p.name %></h5>
           <a href=<%=interest_path(p.id)%> class="btn btn-primary">start messaging!</a>
           <p class="card-text"><br><a href=<%=users_by_interest_path(p.id)%> class="btn btn-primary">see users for this interest</a>
           </p>
           </div>
       </div>
     </div>
   <% end %>
 </div>
</div>


